.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  text-align: center;
  padding-bottom: 15px;
}

input {
  padding: 8px;
  font: inherit;
  border-radius: 4px;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

button {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bolder;
  border: 1px solid rgb(218, 218, 255);
  color: blue;
  background-color: rgb(218, 218, 255);
  transition: background-color 200ms linear, color 200ms linear;
}

button:hover,
button:focus {
  color: rgb(218, 218, 255);
  background-color: blue;
}

.search__form {
  background-color: blue;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;
  font-size: 18px;
}

.gallery__item {
  max-width: 375px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
  color: inherit;
}

.gallery__link:hover {
  cursor: zoom-in;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}

.info__item {
  text-align: center;
}

.info__data {
  display: block;
  text-align: center;
}
